html {
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #86b8d6;
    font-size: 1.3rem;
}

#lista {
    list-style-type: none;
    text-align: left;
}

#container {
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 80%;
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: px;
    background-color: white;
    overflow: auto;
    box-shadow: 2px 2px 10px black;
}

#tarefa {
    width: 60%;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
}

#inserir, #limpar {
    padding: 10px;
    margin: 20px 15px 20px 15px;
    border-radius: 5px;
    box-shadow: none;
    border: 0px ;
    box-shadow: 1px 1px 5px black;
}

ul {
    margin: 0;
    padding: 15px;
}

li {
    display: inline-block;
    margin: 0;
    padding: 5px;
}

.checkbox {
    margin-right: 10px;
}

hr {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 790px) {

    #container {
        width: 30%;
        min-height: 300px;
    }

    #tarefa {
        width: 20%;
    }

}